<div>
  <%= f.label :login_id, 'ログインID' %>
  <%= @accounts.login_id %>
</div>
<div>
  <%= f.label :account_name, '氏名' %>
  <%= @accounts.account_name %>
</div>
<div>
  <%= f.label :mail_address, 'メールアドレス' %>
  <%= @accounts.mail_address %>
</div>
<div>
  <%= f.label :remarks, '備考' %>
  <%= @accounts.remarks %>
</div>
