<div>
  <%= f.label :year, '年度' %>
  <%= @year_managements.year %>
</div>
<div>
  <%= f.label :year_name, '年度名称' %>
  <%= @year_managements.year_name %>
</div>
<div>
  <%= f.label :start_date, '開始年月日' %>
  <%= @year_managements.start_date %>
</div>
<div>
  <%= f.label :end_date, '終了年月日' %>
  <%= @year_managements.end_date %>
</div>
<div>
  <%= f.label :remarks, '備考' %>
  <%= @year_managements.remarks %>
</div>
