<% @title = '年度管理 - 新規登録' %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_for [ :admin, @year_managements ] do |f| %>
    <%= render 'form', f: f %>
    <div class="buttons">
      <%= f.submit '登録' %>
      <%= link_to '戻る', :admin_year_managements %>
    </div>
  <% end %>
</div>
