<% q = QuestionInfoPresenter.new(f, self) %>
<%= q.notes %>
<%= q.question_notes %>
<div>
  <% if !f.object.new_record? %>
    <%= f.label :id, '設問番号' %>
    <%= @question_info.id %>
  <% end %>
</div>
<%= markup do |m|
      m << q.text_field_block(:question_contents, '設問内容', required: true, size: 50)
    end %>
  <% f.hidden_field :question_count, value: @question_info.question_count %>
  <% f.hidden_field :slug, value: 'test' %>
  <% f.hidden_field :status, value: 1 %>
  <% f.hidden_field :created_account_id, value: session[:account_id] %>
  <% f.hidden_field :updated_account_id, value: session[:account_id] %>

<table class="question_choice_list">
  <tr>
    <td><%= f.label :correct_status, '正答選択', class: 'required' %></td>
    <td><%= f.label :choice_number, '選択肢番号' %></td>
  </tr>
  <% @question_info.question_choice_infos.each_with_index do |question_choice_info, index| %>
    <%= f.fields_for :question_choice_infos, question_choice_info do |question_choice_info_field| %>
      <tr>
        <% if question_choice_info.correct_status == 1 %>
          <td><%= radio_button_tag :correct_status_number, question_choice_info.choice_number, { :checked => true } %></td>
        <% else %>
          <td><%= radio_button_tag :correct_status_number, question_choice_info.choice_number %></td>
        <% end %>
        <td><%= question_choice_info.choice_number %></td>
        <% qc = QuestionChoiceInfoPresenter.new(question_choice_info_field, self) %>
        <%= markup do |m|
            m << qc.choice_td_block(:choice_contents, "選択肢" + (question_choice_info.choice_number).to_s + "内容", size: 32, required: true)
        end %>
      </tr>
        <%= question_choice_info_field.hidden_field :correct_status, value: 0 %>
        <%= question_choice_info_field.hidden_field :choice_number, value: question_choice_info.choice_number %>
        <%= question_choice_info_field.hidden_field :question_info_id, value: @question_info.id %>
        <%= question_choice_info_field.hidden_field :slug, value: 'test' %>
        <%= question_choice_info_field.hidden_field :created_account_id, value: @question_info.created_account_id %>
        <%= question_choice_info_field.hidden_field :updated_account_id, value: session[:account_id] %>
    <% end %>
  <% end %>
</table>
