<div class="notes">
  <span class="mark">*</span>印のついた項目は入力必須です。
  <br>合格正解数が設問数を超えるとエラーになります。
</div>

<div>
  <%= f.label :year_management_id, "年度名称" %>
  <%= f.label :year_management_id, @test_basic_infos.year_name %>
  <%= f.text_field :year_management_id, value: @test_basic_infos.id, type: 'hidden' %>
</div>

<div>
  <%= f.label :question_count, '設問数', class: 'required' %>
  <%= f.text_field :question_count, size: 32, required: true %>
</div>

<div>
  <%= f.label :pass_grade, '合格正解数', class: 'required' %>
  <%= f.text_field :pass_grade, size: 32, required: true %>
</div>

<div>
  <%= f.text_field :slug, value: "aaa", type: 'hidden' %>
  <%= f.text_field :created_account_id, value: 1, type: 'hidden' %>
  <%= f.text_field :updated_account_id, value: 1, type: 'hidden' %>
</div>
